<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">

    <input type="text" v-model="msg">
    <button @click="add_note">添加留言</button>
    <button @click="delAll">删除所有</button>
    留言数量{{msg_list.length}}

    <br>
    <ul>
        <li v-for="(message, index) in msg_list">{{message}}
             <a href="javascript:;" @click="delNote(index)">删除</a>
        </li>
    </ul>

</div>

<script src="js/vue.min.js"></script>
<script src="js/vue-router.3.0.1.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            msg: "",
            // 判断localStorage.msgs 有值 则显示 如果没有  则设置为后面的空列表
            msg_list: localStorage.msgs ? JSON.parse(localStorage.msgs) : [],
        },
        methods:{
            add_note(){
                let msg = this.msg;
                if(msg){
                    this.msg_list.push(this.msg);
                    // 将用户发表的数据持久化到localStorage
                    // 储存前将数据进行序列化
                    localStorage.msgs = JSON.stringify(this.msg_list);
                    this.msg = "";
                }
            },

            delAll(){
                // localStorage.clear();
                this.msg_list =[]
            },
            delNote(index){
                this.msg_list.splice(index, 1)
            }
        }
    })
</script>


</body>
</html>